.NotFoundBlock {
  padding: 100px;

  .title {
    text-align: center;
  }

  .description {
    font-size: 20px;
    font-weight: bold;
    text-align: center;

    margin-top: 10px;
  }
}
